/* ==UserStyle==
@name           GFG
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.geeksforgeeks.org") {
    /* Insert code here... */
	*{
		font-family: "Iosevka Term" !important;
	}
	.code-container{
		font-family: "Iosevka Term" !important;
	}
	.leftBar{
		flex-basis: 100% !important;
		max-width: 100% !important;
	}
	.rightBar{
		display: none !important;
	}
}
